﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section modules {
    @Scripts.Render("~/bundles-js/home-module")
}

<div class="form-group" ng-controller="homeCtrl as ctrl">
    @*<div class="row col-md-12 form-group">
        <textarea class="form-control"
                  maxlength="200"
                  rows="5"
                  ng-model="ctrl.comments">            
        </textarea>
    </div>*@
    <div class="col-md-12 form-group">
        <file-uploader url="Home/UploadImages"
                       multiple="false"
                       concurrency="1"
                       files-count="ctrl.filesCount"
                       hide-buttons="false"></file-uploader>
    </div>
    <div class="col-md-12">
        <span> &nbsp; &nbsp; First page: {{ ctrl.firstPage }} &nbsp; &nbsp; Last page: {{ ctrl.lastPage }}  &nbsp; &nbsp; data.length: {{ ctrl.data.length }} </span>
    </div>
    <div class="form-group col-md-12">
        <div class="grid"
             ui-grid="ctrl.homeGrid"
             ui-grid-infinite-scroll>
        </div>
    </div>
</div>