﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/css")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles-js/startup-actions")
    @Scripts.Render("~/bundles-js/common-libs")
    @Scripts.Render("~/bundles-js/angular")
    @Scripts.Render("~/bundles-js/angular-ui")
    @Scripts.Render("~/bundles-js/common-module")

    @RenderSection("modules", required: false)

    @Scripts.Render("~/bundles-js/app-module")

    @if(Request.ApplicationPath.EndsWith("/"))
    {
        <base href="@Request.ApplicationPath" />
    }
    else
    {
        <base href="@Request.ApplicationPath/" />
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
<div class="container body-content" ng-app="app" ng-strict-di>

    <div ng-controller="mainCtrl as mainCtrl">
        <div class="col-md-4 text-center" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;"
             ng-cloak>
            <div uib-alert
                 ng-repeat="alert in _alerts"
                 type="{{ ::alert.type }}"
                 close="closeAlert($index)"
                 dismiss-on-timeout="10000">
                {{ ::alert.message }}
            </div>
        </div>

        <div>
            @RenderBody()
        </div>
        <hr />
    </div>
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
